langchain
streamlit
transformers
requests
torch
einops
accelerate
bitsandbytes
pdfminer.six
bs4
chromadb
beautifulsoup4==4.12.2
sentence-transformers==2.2.2
sentencepiece==0.1.99
six==1.16.0
uvicorn==0.18.3
torch==2.0.1
torchvision==0.15.2
streamlit-chat